@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

.mainContainer {
  margin: 5% 15% 1% 15%;
}

.navbar {
  /* font-family: "Secular One", sans-serif; */
  font-size: 1.7vw;
  /* background-color:rgb(255, 255, 255); */
  border-bottom: 1px solid gray;
  display: flex;
  height: 3.5rem;
  align-items: center;
}

.navbar > .logo {
   font-family: "Secular One", sans-serif;
   font-size: 2vw;
  color: rgb(63, 63, 63);
  font-size: 3vw;
  margin-left: 15%;
  font-weight: 1000;
  flex: 1;
}

.navbar > .myaccount {
  margin-left: auto;
  padding-right: 5%;
}

.navbar > .fund {
  padding-right: 5%;
}

.navbar > .campaignsNavbar {
  margin-right: 7%;
}

.appNavbar{
  background-color: black;
  color: white;
  font-size: 1vw;
  margin-right: 3%;
  padding: 1%;
  border-radius: 20px;
}